body {
    background-color:blue;
    color:white;
  }
  
  .cell{
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 1.5em;
    background-color: aqua;
    border: solid 2px black;
    color: black;
    box-shadow: 5px 5px 2px -1px rgb(47, 186, 221);

  }

  table {
    margin-left: 600px;
    margin-top: 200px;
     
   }
   h1{
        font-size: 40px;
        margin-left: 600px;
        font-style: italic;

   }
   
   :hover .cell{
     cursor: pointer;
   }