
body {
    background-image: url(../img/walll.jpg);
    color: white;
    text-align: center;
    margin: 0;

}
  
  .cell{
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 30px;
    background-color: lightgrey;
    color: cadetblue;
    border: 3px ridge rgb(241, 239, 239);
    transition: 1s ease;
    border-radius: 7%;
  }

  table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-spacing: unset;
    margin-bottom: 30px;
   }
   h1{
        font-size: 50px;
        font-style: italic;

   }
   
  :hover.cell {
     cursor: pointer;
     background-color: blanchedalmond;
   }
   
   :hover.safeClick {
    cursor: pointer;
    background-color:red;
  }
  
  :hover.level{
    cursor: pointer;
    background-color: blanchedalmond;
  }

  .stopwatch{
    background-color: black;
    margin-bottom: 4px;   
    text-align: center;
    width: 45px;
    color: red;
    font: bolder;
  }

  .lives{
    text-align: center;
    font-size: 30px;
  }

  .smily{
    text-align: center;
    font-size: 30px;
   
  }

  .level{
    border-radius: 15%;
  }

  .safeClick{
    background-color: lightgreen;
    border-radius: 10%;
    border: lightseagreen 2px, solid;
  }
  
  .safeClickCuonter{
    display: inline;
    color: white;
    font: bold;
    font-size: 20px;
  }

  .hints{
    background-color: black;
    margin-bottom: 4px;   
    text-align: center;
    width: 45px;
    color: red;
    font: bolder;

  }